* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: ;
    font-style: normal;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.container {

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #FFFFFF;
    padding: 0 100px 0 54px;
    border-bottom: 1px solid #dadada;
}

.logo {
    height: 41px;
    width: 185px;
}

.header-mid {
    display: flex;
    gap: 75px;
}

.header-right {
    display: flex;
    gap: 45px;
}

.link {
    color: black;
    line-height: 24px;
    font-weight: 500;
    transition: all 0.1s linear;
}

.link :hover {
    opacity: 0.6;
}

.header .icon {
    width: 28px;
    height: 28px;
    object-fit: cover;
}
