h1 {
    background-color: bisque;
    color: darkblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.item1{
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   color: red;
}

.item2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.item3{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}