*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 50px;
    margin-left: 20px;
}

hr{
    border-top: 3px dashed rgb(148, 147, 147);
    margin-bottom: 50px;
}

.a{
    font-size: 20px;
    margin-left: 5px;
    color: rgb(148, 147, 147) ;
}

.b{
    font-size: 40px;
    font-weight: bolder;
}

.c{
    border-left: 3px solid rgb(164, 163, 163) ;
}

img{
    margin-left: 20px;
    border-radius: 10px;
    margin-right: 10px;
}